[Unit]
Description=Consul Server Agent
After=docker.service
After=etcd.service
After=fleet.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=5min

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull consul:0.7.0

ExecStart=/bin/sh -c "exec /usr/bin/docker run -d \
    --name %p \
    --hostname %H \
    --net=host
    --env SERVICE_8300_NAME=consul-server-rpc \
    --env SERVICE_8300_TAGS=consul-server-rpc \
    --env SERVICE_8301_NAME=consul-serf-lan \
    --env SERVICE_8301_TAGS=consul-serf-lan \
    --env SERVICE_8302_NAME=consul-serf-wan \
    --env SERVICE_8302_TAGS=consul-serf-wan \
    --env SERVICE_8400_NAME=consul-cli-rpc \
    --env SERVICE_8400_TAGS=consul-cli-rpc \
    --env SERVICE_8500_NAME=consul-ui \
    --env SERVICE_8500_TAGS=http \
    --env SERVICE_8600_NAME=consul-dns \
    --env SERVICE_8600_TAGS=dns \
    --env CONSUL_LOCAL_CONFIG={"skip_leave_on_interrupt":true} \
    --env CONSUL_ALLOW_PRIVILEGED_PORTS= \
    --volume /var/run/docker.sock:/var/run/docker.sock \
    -p 8400:8400 \
    -p 8500:8500/tcp \
    -p 8600:53/udp \
    consul:0.7.0 \
    agent -server \
    -dns-port=53 \
    -bind=$COREOS_PUBLIC_IPV4 \
    -bootstrap-expect $(fleetctl list-machines --no-legend | wc -l) \
    $(fleetctl list-machines | awk '/consul_role=server/{print \"-join \" $2}') "


ExecStop=/usr/bin/docker stop %p
SyslogIdentifier=%p
SuccessExitStatus=1

[X-Fleet]
Global=true
X-ConditionMachineMetadata=consul_role=server
